// color palette
$light-grey: #efefef;
$white: #fff;
$purple-text-color: #703DD3;

$navbar-bg: $white;
$secondary-cta: $light-grey;

$default-font-size: 16px;
$default-text-color: #6B6B6B;

$cta-font-size: 16px;
$cta-radius: 100px;

// screen breakpoints
$xs-max: 767px;
$sm-min: 768px;
$sm-max: 979px;
$md-min: 1200px;
